* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} 

 .calculator {
     padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
} 

.output {
    display: flex;
    justify-content: flex-end;
    padding:  10px;
    align-items: center;
    height: 64px;
    width: 270px;
    background-color: #717c89;
    border: none;
    border-radius: 30px;

}

.allclear{
    height: 64px;
    width: 62px;
    background-color: #EAF0CE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
 
}
.operator {
    height: 64px;
    width: 62px;
    background-color: #f19a3e;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.number {
    height: 64px;
    width: 62px;
    background-color: #EAF0CE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.result {
    height: 64px;
    width: 62px;
    background-color: #717c89;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.zero {
    height: 64px;
    width: 128px;
}

.circle {
    margin: 1px;
}
